.backDrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: none;
    cursor: pointer;
}

.ourModel{
    position: fixed;
    top: 25%;
    left: 25%;
    height: 350px;
    width: 50%;
    background-color: white;
    display: none;
    cursor: pointer;
}
.ourModel .card-header{
    position: relative;
}
.ourModel .card-header i{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.ourModel.active{
    display: block;
}

.backDrop.active{
    display: block;
}
.card-body img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}